ToDoCli/Service References/ToDoItemProxy/ItemList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ItemList" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/Item?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/Item?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/Item?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ToDoLib" />
      <xsd:import schemaLocation="http://localhost:8000/Item?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IItemList_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IItemList_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IItemList_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IItemList_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IItemList_GetEnumerator_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnumerator" />
  </wsdl:message>
  <wsdl:message name="IItemList_GetEnumerator_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnumeratorResponse" />
  </wsdl:message>
  <wsdl:message name="IItemList_mergeWith_InputMessage">
    <wsdl:part name="parameters" element="tns:mergeWith" />
  </wsdl:message>
  <wsdl:message name="IItemList_mergeWith_OutputMessage">
    <wsdl:part name="parameters" element="tns:mergeWithResponse" />
  </wsdl:message>
  <wsdl:portType name="IItemList">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemList/Add" message="tns:IItemList_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemList/AddResponse" message="tns:IItemList_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemList/Find" message="tns:IItemList_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemList/FindResponse" message="tns:IItemList_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnumerator">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemList/GetEnumerator" message="tns:IItemList_GetEnumerator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemList/GetEnumeratorResponse" message="tns:IItemList_GetEnumerator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mergeWith">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemList/mergeWith" message="tns:IItemList_mergeWith_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemList/mergeWithResponse" message="tns:IItemList_mergeWith_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ItemList" />
</wsdl:definitions>